section.document {
  width: auto;
  height: 100%;
  padding: 6px;

  .document-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    .action-bar {
      width: 100%;
      background-color: var(--main);
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      padding: 4px;
      align-items: center;
      border-radius: 4px;

      h1 {
        color: var(--primary-text);
      }

      .action-buttons{
        display: flex;
        align-items: center;
        gap: 6px;
      }
    }
  }
}
