:root {
  --main: #006D95;
  //--hover-main: rgba(255, 232, 209, 0.1);
  --primary-text: #FFFFFF;
  --secondary-text: #525c62;
  --revert-text: #007B95;
  --background: #05456A;
  --secondary-background: #00313D;
  --light-background: #1F304C;
  --heavy-background: #041523;
  //--input-background: #141414;
  //--header-background: rgba(16, 16, 16, 0.65);

  --accept: #40d561;
  //--info-background: rgba(80, 86, 224, 0.1);
  //--info-border: rgba(80, 86, 224, 0.1);
  //--info-shadow: rgba(6, 28, 61, 0.08);

  --error: #F64B4B;
  //--error-background: rgba(224, 80, 80, 0.1);
  //--error-border: rgba(224, 80, 80, 0.1);
  //--error-shadow: rgba(6, 28, 61, 0.08);

  --warning: #F6C64B;
  //--detail-background: rgba(255, 232, 209, 0.1);
  //--detail-border: rgba(255, 232, 209, 0.1);
  //--detail-shadow: rgba(6, 28, 61, 0.08);
}
