@font-face {
  font-family: JetBrains-Mono;
  src: url('fonts/JetBrainsMono-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: Inter;
  src: url('fonts/Inter-VariableFont_slnt,wght.ttf') format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: PlusJakartaSans;
  src: url('fonts/PlusJakartaSans-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: Lexend;
  src: url('fonts/Lexend-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: 1 999;
}
