table.custom-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  thead {
    tr {

      height: 50px;
    }

    th {
      background: var(--main-light);
      font-size: 13px;
      font-weight: 500;
      text-align: start;
      color: var(--lightless-text);

      .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
        margin-left: 5px;

        .side-wrapper {
          display: flex;
          gap: 6px;
        }
      }

      svg path {
        fill: var(--heavy-icon);
      }
    }
  }

  tbody {
    tr {
      border-bottom: solid 1px var(--secondary-text);

      td {
        color: var(--tier-text);
        height: 30px;

        text-align: start;
        font-size: 14px;
        word-wrap: break-word;
      }
    }
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
  }

  tr:first-child th:first-child {
    border-top-left-radius: 4px;
  }

  tr:first-child th:last-child {
    border-top-right-radius: 4px;
  }
}